
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
body{
    background-color: #FFAC01;
}
.FAQ {
    background-color: #FFAC01;
    display:flex;
    flex-direction: column;
    justify-content: center  
}
.FAQB {
    background-color: #FFAC01;
}