.FormSubscription {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  height: 80vh;
  margin-top: 15vh;
}

.FormSubscription h1 {
  text-align: center;
}
.form-data{
  margin:15px;
  padding: 20px;
}

.FormSubscription .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormSubscription .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}

.FormSubscription .form-data input:not([type="submit"]) {
  flex-grow: 1;
}

@media screen and (max-width:768px) {
  
}